<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/scrript.js') }}"></script>
    
    {% block title %} {% endblock %}

</head>
    
    {% block body %} {% endblock %}
<!-- Copyright Section
 <div style="display: flex; justify-content: center; ">
    <div style="color: white;  "><small>Copyright © CHITRANSHU 2020</small></div>
</div>

</body> -->



</body>
</html>